
<!-- Portfolio section start -->
<div class="section secondary-section " id="portfolio">
    <div class="container">
        <div class=" title">
            <h1>¿Que es Cloud Computing?</h1>    
        </div>
        <div align='center'>
            <!-- Start details for portfolio project 1 -->
            <p>El Cloud Computing o computación en nube es un nuevo servicio donde el hardware y software es proporcionado por otra empresa a través de Internet, por lo general de una manera completamente transparente. Este nuevo servicio promete varias ventajas atractivas para las empresas y los usuarios finales.</p>
            <p>Una empresa Online que no cuenta con una Página Web genera un clima de desconfianza con tus potenciales Clientes.</p>
            <ul>
                <a href="">
                    <img src="../../../assets/images/web_01.png" alt="client logo 1">
                </a>
            </ul>
            <br>
            <p>Nuestros diseños se adaptan a cualquier dispositivo, Laptop, Tablet o SmartPhone.</p>
            <ul>
                <a href="">
                    <img src="../../../assets/images/web_02.png" alt="client logo 1">
                </a>
            </ul>
            <br>
            <p>Con tu Página Web brindas información ilimitada de tu empresa, productos y/o servicios, promociones, eventos las 24 horas del día, 7 días a la semana, 365 días del año.</p>
            <ul>
                <a href="">
                    <img src="../../../assets/images/web_03.png" alt="client logo 1">
                </a>
            </ul>
        </div>
    </div>
</div>
<!-- Portfolio section end -->

