
<!-- Portfolio section start -->
<div class="section secondary-section " id="portfolio">
    <div class="container">
        <div class=" title">
            <h1>¿Que es Cloud Computing?</h1>    
        </div>
        <div align='center'>
            <!-- Start details for portfolio project 1 -->
            <p>El Cloud Computing o computación en nube es un nuevo servicio donde el hardware y software es proporcionado por otra empresa a través de Internet, por lo general de una manera completamente transparente. Este nuevo servicio promete varias ventajas atractivas para las empresas y los usuarios finales.</p>
            <ul>
                <a href="">
                    <img src="../../../assets/images/cloud_01.png" alt="client logo 1">
                </a>
            </ul>
            <br>
            <p>La informacion que se almacena en la nube esta completamente protegida, y tienes acceso a ella las 24 horas del día, 7 días a la semana, 365 días del año. Por cualquier medio a través de internet..</p>
            <ul>
                <a href="">
                    <img src="../../../assets/images/cloud_03.png" alt="client logo 1">
                </a>
            </ul>
            <br>
            <p>La solución de Cloud Computing ofrece la posibilidad de olvidarse de los costos de mantenimiento, soporte y servicio que un centro de datos requiere. No solo es ahorro de dinero, ahorraras espacio y recursos limitados de tu empresa..</p>
            <ul>
                <a href="">
                    <img src="../../../assets/images/cloud_02.png" alt="client logo 1">
                </a>
            </ul>
        </div>
    </div>
</div>
<!-- Portfolio section end -->

