<div class="section primary-section">
    <br>
    <!--<div class="triangle"></div>-->
    <div class="container">
        <div class="title">
            <h1>Que es un Dominio y un Hosting</h1>
            <br>
            <p>Los Dominios y Hosting son herramientas indispensables para que tu Pagina Web entre al mundo del Internet.</p>
            <br>
        </div>
        <div class="row">
            <br>
            <br>
            <div class="span4">
                <div class="testimonial">
                    <p>Es tu nombre en internet, la marca por la que serás recordado por tus Clientes, con tu dominio personalizas tu página web y tus cuentas de correo, es el nombre sobre el cual girara todo tu negocio en el internet, hay varios tipos de dominio(.com, .info, .cc, etc.). Asi como no Existen 2 empresas iguales no existen 2 dominios iguales.</p>
                    <div class="whopic">
                        <div class="arrow"></div>
                        <!--<img src="assets/images/Client1.png" class="centered" alt="client 1">-->
                        <strong>Dominio
                        </strong>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="testimonial">
                    <p>El Web Hosting es un servicio online, te permite publicar un sitio o aplicación web en Internet. Cuando adquieres un hosting básicamente alquilas un espacio en un servidor conectado a Internet desde donde podras almacenar tus archivos, informacion y datos necesarios para que tu sitio web y email funcionen correctamente.</p>
                    <div class="whopic">
                        <div class="arrow"></div>
                        <!--<img src="assets/images/Client2.png" class="centered" alt="client 2">-->
                        <strong>Hosting
                        </strong>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="testimonial">
                    <p>El correo electrónico o email es un servicio que permite el intercambio de mensajes, los correos electrónicos están relacionados con el nombre de dominio que tengas, por lo que podrás configurar tus correos con el nombre de tu empresa, Tu correo Electronico tiene la terminacion de tu Dominio y se almacenara en tu Web Hosting.</p>
                    <div class="whopic">
                        <div class="arrow"></div>
                        <!--<img src="assets/images/Client3.png" class="centered" alt="client 3">-->
                        <strong>Correo Electronico
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p class="testimonial-text">
            Nuestros planes de Dominio y Hosting están diseñados para proporcionar los recursos necesarios para el óptimo funcionamiento de tu negocio en Internet
        </p>
    </div>
    <br>
</div> 
